@model IEnumerable<HRCloud.Web.ViewModels.Departments.DepartmentViewModel>

@using HRCloud.Common

@{
    this.ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome to @GlobalConstants.SystemName!</h1>
    @foreach (var department in this.Model)
    {
        <div class="card text-center">
            <div class="card-header">
            </div>
            <div class="card-body">
                <h5 class="card-title">@department.Name</h5>
                <p class="card-text">@department.Description</p>
                @{var employeesText = department.EmployeesCount.ToString() + " " + (department.EmployeesCount > 1 ? "employees" : "employee");}
                <a href="#" class="btn btn-primary">@employeesText</a>
            </div>
            <div class="card-footer text-muted">
                Created: @department.CreatedOnAsString
            </div>
        </div>
        <br />
    }
</div>
